<Header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">SOO_CarT</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        {{log time}}
        <form class="d-flex">
          {{#if login}}
          <p>{{this.time}}</p>
          <a href="/logout" class="btn btn-outline-danger">Logout</a>
          {{else}}
          <a href="/login" class="btn btn-outline-success">Login</a>
          {{/if}}
        </form>
      </div>
    </div>
  </nav>
</Header>



   
    <section>
      <div class="container mt-5 mb-5">
        <div class="row">
          {{#if login}}
          {{#each products}}
            <div class="col-12 col-md-6 col-lg-3 mt-4"  >
              <div class="card bg-light p-2 text-center lh-sm" style="width: 18rem">
                <img style="width:17em;height:auto;" src="{{this.img}}" class="img-fluid card-img-top" alt="..." />
                <div class="card-body">
                  <h5 class="card-title fs-4">{{this.name}}</h5>
                  <p class=" fw-bold fs-4 card-text">₹ {{this.price}}</p>
                  <a onclick="alertme()" href="#" class="btn btn-primary">Buy Now</a>
                </div>
              </div>
            </div>
          {{/each}}
          {{else}}
         {{#each products}}
            <div class="col-12 col-md-6 col-lg-3 mt-4"  >
              <div class="card bg-light p-2 text-center lh-sm" style="width: 18rem">
                <img style="width:17em;height:auto;" src="{{this.img}}" class="img-fluid card-img-top" alt="..." />
                <div class="card-body">
                  <h5 class="card-title fs-4">{{this.name}}</h5>
                  <p class="fw-bold fs-4 card-text">₹ {{this.price}}</p>
                  <a onclick="alertme()" href="/login" class="btn btn-primary">login to Buy</a>
                </div>
              </div>
            </div>
          {{/each}}
          {{/if}}
        </div>
      </div>
    </section>


<style>
  body{
    background-color: black;
  }
</style>
<script>
  function alertme(){
    alert('under maintainance! please co-operate')
  }
</script>